<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rincón del Cine - WebSite</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
</head>
<body>
    <div class="bas"><div class="Slogan"><div class="NomSitio"></div></div></div>
    <div class="base">
        <div class="cabecera"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="subcabecera"><p class="fechor"><span class="hora">16h 45m</span><span class="fecha">Miercoles, día 12 de Octubre</span></p></div>
        <div class="cuerpo">
           <div class="spot1">
              <div><p>Miércoles, Día del espectador.</p>
                <p><span>desde 3,5 €</span></p>
              </div>
           </div><!--
           --><div class="spot2"><a th:href="@{/views/step1}">Reserva tu entrada</a></div>
        </div>
        <div class="pie"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>