#first-block, #second-block, #third-block, #fourth-block{
    border: 1px solid #000;
    width: 20%;
    height: 300px;
  }

  #third-block, #fourth-block{
    height: 400px;
  }
  h1{
    text-align: center;
    color: aquamarine;
  }

.contenedor{
    display: flex;
    padding-left: 10%;
    text-align: center;
    gap: 10px;
}
#first-block{
    background-color: aquamarine;
}
#second-block{
    background-color: chocolate;
}
#third-block{
    background-color: darkgray;
}
#fourth-block{
    background-color: tomato;
}

.second-paragraph{
position: absolute;
background-color: black;
top: 20%;
left: 15%;
color: white;
}