@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

:root {
  --color-gray-dark: #111015;
  --color-gray-mid: #2a2a2a;
}

body {
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

main {
  width: auto;
  background-color: #111015;
  /*background: linear-gradient(-45deg, #dd5e89, #f7bb97);*/
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

#map {
  position: relative;
  width: 600px;
  height: 300px;
  background-image: url(./map.png);
  background-size: 100% 100%;
  border-radius: 1rem;
}

#location-dot {
  position: absolute;
  height: 1rem;
  transform: translateX(-50%) translateY(-100%);
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: gray;
}

.search-container {
  background-color: var(--color-gray-mid);
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50px;
  color: grey;
}

:has(> input:focus) {
  outline: solid gray 2px;
}

.search-container > i {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header > span {
  width: 250px;
  color: gray;
}

#forecast-container {
  display: flex;
  gap: 0.5rem;
}

#forecast-container > div {
  display: flex;
  flex-direction: column;
  background-color: #bbd7ec;
  overflow: hidden;
  border-radius: 1rem;
}

#day-today > div {
  display: flex;
  gap: 0.5rem;
}

.today-header {
  background-color: #aecadf;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.data-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 0.2rem;
}

.data-container > span:nth-child(2) {
  margin-bottom: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-big {
  font-size: 2rem;
}

.forecast-days {
  background-color: var(--color-gray-mid) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
}

.forecast-days > span:last-of-type {
  font-size: 1.5rem;
}

#bottom-container {
  display: flex;
  gap: 2rem;
}

#rain-card {
  position: relative;
  color: gray;
}
#rain-graph {
  position: absolute;
  top: 1.5rem;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}

#rain-graph > * {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#rain-graph > div > div {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

#rain-card > article {
  height: 200px;
  padding-left: 3rem;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.rain-bar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: gray;
}

.rain-bar {
  width: 10px;
  min-height: 2px;
  background-color: gray;
  border-radius: 10px;
}
