.contenedor{
    width: 25%;
    height: 90vh;
    border: 1px;
    background: url("images/pastel.png");
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    border-radius: 5%;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Homer Simpson UI" , serif;
    color: royalblue;
    text-align: center;

}

.contenedor .ciudad{
    padding: 30px;
}

.contenedor .ciudad p.ciudad{
    text-align: center;
    font-size: 30px;

}

.content-g102{
    display: flex;
}

.g102{
    width: 40%;
    height: 200px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px;
    text-align: center;
    border: 1px solid red;
    background: url("images/bosque.png");
    background-size: cover;
    background-color: black;
}

.g102fill{
    position: absolute;
    top: 100%;
    left: 0%;
    width: inherit;
    height: 100%;
    font-family: "Roboto",sans-serif;
    transform-origin: center top;
    transform: rotate(0.25 turn);
    transition: transform 0.2s ease-out;

}

.g102.temperature .g102fill{
    background: black;

}

.g102.temperature .g102fill{
    background: red;
    
}