* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, violet, black);
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  position: relative;

  width: 10px;
  height: 10px;
}

@keyframes rotate {
}

.slider span {
}

.slider span img {
}
