h1{
    color: cadetblue;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


#descripcion{
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
    margin-left: 100px;
}

#first_block{
    width: 100px;
    height: 50px;
    background-color: red;
    display: block;
    float: right;
    overflow: hidden;
}

#second_block{
    width: 100px;
    height: 50px;
    background-color:blue;
    display: block;
    float: left;
    overflow: scroll;
}

#container{
    background-color: brown;
}

.third_block{
    width: 50%;
    background-color: gray;
}

.fourth_block{
}