
#first_block {
    width: 100px;
    height: 50px;
    background: red;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
  }
  
  /* Style the second block */
  #second_block {
    width: 100px;
    height: 50px;
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
  }
  
  /* Style the container */
  #container {
    position: relative;
  }
  
  /* Style the third block inside the container */
  .third_block {
    width: 50%;
    background: grey;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  /* Style the fourth block inside the container */
  .fourth_block {
    width: 50%;
    background: pink;
    position: absolute;
    bottom: 0;
    right: 0;
  }