h1,p{
  text-align: center;
}
#first_block {
    width: 100px;
    height: 50px;
    background: red;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
  }
  
  #second_block {
    width: 100px;
    height: 50px;
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
  }
  
  #container {
    position: relative;
      border: 1px solid #000;
      height: 500px;
  }
  
  .third_block {
    width: 50%;
    background: grey;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .fourth_block {
    width: 50%;
    background: pink;

  }