.box1{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 20px;
}
.box1:hover {
    background-color: red;
    cursor: pointer;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 20px;
}
.box2:hover {
    transform: scale(1.5); 
    cursor: pointer;
    padding: auto;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 20px;
    transition: all 2.3s ease-in-out;
}
.box3:hover {
    transform: scale(1.5); 
    cursor: pointer;
    padding: auto;
    transform: rotateY(-180deg);
    background-color: chartreuse;
}
body{
    background-color:darkgrey;
    display: flex;
}